@model List<EXPRACU2_CALAPUJA_TICONA.Models.Personal>
@{
    ViewBag.Title = "PERSONAL";
}

<h2 class="page-header">
    Mantenimiento Personal  
    <a href="~/Personal/AgregarEditar/"
       class="btn btn-info pull-rigth">Nuevo Personal </a>
</h2>

<table class="table table-striped table-bordered" id="datatable">
    <thead>
        <tr>
            <th style="width:50px">Id</th>
            <th style="width:50px">Nombres y Apellidos</th>
            <th style="width:100px">DNI</th>
            <th style="width:100px">Direccion</th>
            <th style="width:100px">Tipo</th>

            @*<th style="width:70px">Estado</th>*@
            <th style="width:250px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <th>@(m.id_personal)</th>
                <th>@(m.nombres_personal) @(m.apellidos_personal)</th>
                <th>@(m.DNI_personal)</th>
                <th>@(m.direccion_personal)</th>
                <th>@(m.tipo_personal)</th>

                <th style="align-content:center">
                    <a href="~/Personal/Ver/@m.id_personal" class="btn btn-xs btn-warning">Detalle</a>
                    <a href="~/Personal/AgregarEditar/@m.id_personal" class="btn btn-xs btn-primary">Modificar</a>
                    <a href="~/Personal/Eliminar/@m.id_personal" class="btn btn-xs btn-danger"
                       onclick="return confirm('¿Esta Seguro que desea eliminar el registro?');">Eliminar</a>
                </th>
            </tr>
        }
    </tbody>
</table>

