@model List<EXPRACU2_CALAPUJA_TICONA.Models.Prestamo>
@{
    ViewBag.Title = "Index";
}

<h2 class="page-header">
    <a href="~/Prestamo/Agregar_Editar/"
       class="btn btn-default pull-rigth">Nuevo Prestamo</a>
    Prestamo
</h2>

<table class="table table-striped table-bordered" id="datatable">
    <thead>
        <tr>
            <th style="width:50px">Id</th>
            <th style="width:100px">Razon</th>
            <th style="width:100px">Descripcion</th>
            <th style="width:100px">Monto</th>
            <th style="width:100px">Fecha del Prestamo</th>
            <th style="width:100px">Fecha del Pago</th>
            <th style="width:100px">Tipo de Prestamo</th>
            <th style="width:100px">Personal</th>
            
            <th style="width:250px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <th>@(m.id_prestamo)</th>
                <th>@(m.razon)</th>
                <th>@(m.descripcion)</th>
                <th>@(m.monto)</th>
                <th>@(m.fecha_prestamo)</th>
                <th>@(m.fecha_pago)</th>
                <th>@(m.Tipo_Pago_Prestamo.nombre_tipo_pago)</th>
                <th>@(m.Personal.nombres_personal)</th>
             
                
                <th style="align-content:center;">
                    <a href="~/Prestamo/Ver/@m.id_prestamo"
                       class="btn btn-xs btn-warning">Detalles</a>
                    <a href="~/Prestamo/Agregar_Editar/@m.id_prestamo"
                       class="btn btn-xs btn-primary">Modificar</a>
                    <a href="~/Prestamo/Eliminar/@m.id_prestamo"
                       class="btn btn-xs btn-danger"
                       onclick="return confirm('¿Esta Seguro de Eliminar el registro?');">Eliminar</a>

                </th>
            </tr>
        }
    </tbody>
</table>